.interlocutor-message__content {
  position: relative;
  display: flex;
  border-radius: 7.5px;
  border-top-left-radius: 0;
  padding: 6px 7px 8px 9px;
  box-shadow: 0 1px 0.5px rgba(11, 20, 26, 0.13);
  background-color: $white-c;
}
